footer {
    margin-top: 100px;
    height: 50px;
    min-width: 600px;
    background-color: #D59E78;
    //opacity: .7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}